// CORES
:root {
  --dark-gray: #333333;
  --white: #FFFFFF;
  --transparent: transparent;
  --light-gray: #AAAAAA;
  --light-gray-2: #F6F6F6;
  --pink: #F80759;
  --purple: #BC4E9C;
  --disabled-gray: #E5E5E5;
  --gray: #6A6969;
  --gray-dark-2: #686868;
}